@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Kumbh+Sans:wght@100..900&family=Outfit:wght@100..900&display=swap');

:root {
    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);

    --prim1: hsl(215, 51%, 70%);
    --prim2: hsl(178, 100%, 50%);
    --prim2OPACITY: hsl(178, 100%, 50%, 0.5)
}

* {
    margin: 0;
    padding: 0;

}

body{
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--mainBG);
    font-family: 'Outfit';
}

main {
    width: min(270px, 90%);
    margin: auto;

    background-color: var(--cardBG);
    border-radius: 15px;
    padding: 20px;
    font-size: 1rem;
}


.main-image-box {
    position: relative;
}

.image-main {
    width: 270px;
    height: 270px;
    margin: auto;
    position: sticky;
    background-image: url(images/image-equilibrium.jpg);
    background-position: center;
    background-size: contain;
    border-radius: 15px;

    z-index: 1;
}

.image-hover {
    width: 270px;
    height: 270px;
    margin: auto;
    position: absolute;
    background-image: url(images/icon-view.svg);
    background-color: var(--prim2OPACITY);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    border-radius: 20px;

    top: 0px;
    z-index: 2;
    transition: 300ms ease;
}

.image-hover:hover {
    opacity: 1;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 > a {
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 600;
}

h1 > a:hover {
    color: var(--prim2);
}

main > p {
    color: var(--prim1);
    margin-bottom: 23px;
    font-size: 1rem;
    font-weight: 300;

}

#container {
    display: flex;
    justify-content: space-between;

    font-size: 0.85rem;
    margin-bottom: 15px;
    font-weight: 400;
}

#value {
    color: var(--prim2);
}

#value::before {
    content: url(images/icon-ethereum.svg);
    margin-right: 7px;
    vertical-align: middle;
}

#remaining-time {
    color: var(--prim1);
}

#remaining-time::before {
    content: url(images/icon-clock.svg);
    margin-right: 7px;
    vertical-align: middle;
}

hr {
    border: 0.1rem solid var(--line);
    margin-bottom: 20px;
}

#creator-box {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

#creator-box > img {
    width: 30px;
    height: 30px;

    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

#creator {
    /* width: 250px; */
    display: block;
    font-size: 0.9rem;
    color: var(--prim1);

}


#creator > a {
    color: white;
    text-decoration: none;
}

#creator > a:hover {
    color: var(--prim2);
}

.attribution { font-size: 11px; text-align: center; color: var(--prim1); }
.attribution a { color: hsl(228, 45%, 44%); }